package main

import (
	"errors"
	"fmt"
	"os"

	"github.com/IceflowRE/gitcc-cli/v3/gitcc/cli"
)

func main() {
	c := cli.NewCli(NewValidator)

	err = c.Execute()
	if err == nil {
		return
	}

	var exitErr *cli.ExitError
	if errors.As(err, &exitErr) {
		os.Exit(exitErr.Code)
	}
	fmt.Fprintln(os.Stderr, err)

	os.Exit(3)
}
